{% extends "::layout.html.twig" %}

{% block title %}
    Sorties - Nombre de sorties par membre - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Sorties - Nombre de sorties par membre</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 25%">Membre</th>
                <th style="width: 75%">Nombre de sorties</th>
              </tr>
            </thead>
            <tbody>
            {% for stat in statistiques | sort | reverse %}
            <tr>
                <td>{{ stat.label }}</td>
                <td>
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar" style="width: {{ stat.nombredesorties * 100 / max }}%">{{ stat.nombredesorties }}</div>
                    </div>
                </td>
            </tr>             
            {% else %}
            <tr>
                <td colspan="2">Aucune donnée disponible pour cette période</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}