{% extends "::layout.html.twig" %}

{% block title %}
    Sorties - Statistiques membres - {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Sorties - Statistiques membres</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 25%">Rameur</th>
                <th style="width: 75%">Kilomètres parcourus</th>
              </tr>
            </thead>
            <tbody>
            {% for stat in statistiques | sort | reverse %}
            <tr>
                <td>{{ stat.label }}</td>
                <td>
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar" style="width: {{ stat.kmparcourus * 100 / max }}%">{{ stat.kmparcourus }} km</div>
                    </div>
                </td>
            </tr>             
            {% else %}
            <tr>
                <td colspan="2">Aucune données disponibles pour cette période</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}