{% extends "::layout.html.twig" %}

{% block title %}
  Ajouter un bateau - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un bateau</h2>

  {{ include("AvironSortieBundle:Bateau:form.html.twig") }}

  <p>
    <a href="{{ path('aviron_bateaux_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}