{% extends "layout.html.twig" %}

{% block title %}
  Modifier un type de bateau - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="page-header">Modifier un type de bateau</h2>

  {{ include("typebateau/form.html.twig") }}
  
  <p>
    <a href="{{ path('aviron_sortie_typebateau_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux types de bateau
    </a>
  </p>

{% endblock %}