{% extends "layout.html.twig" %}

{% block title %}
  Ajouter un entraînement - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Ajouter un entraînement</h2>

  {{ include("reservation/form.html.twig") }}

  <p>
    <a href="{{ path('aviron_sortie_reservation_admin_entrainements') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

{% endblock %}