{% extends "layout.html.twig" %}

{% block title %}
  Modifier un entraînement - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Modifier un entraînement</h2>

  {{ include("Reservation/form.html.twig") }}

  <p>
    <a href="{{ path('aviron_sortie_reservation_admin_entrainements') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux entraînements
    </a>
  </p>

{% endblock %}