{% extends "layout.html.twig" %}

{% block title %}
	Participants -
	{{ parent() }}
{% endblock %}

{% block body %}

	<h2 class="page-header">Participants</h2>

	{% if participants %}
		<ol>
			{% for participant in participants %}
				<li>{{ participant.idut.prenomnom }}</li>
			{% endfor %}
		</ol>
	{% else %}
		<p>Pas (encore !) de participants.</p>
	{% endif %}


	<p>
		<a href="{{ path('aviron_sortie_reservation_entrainements') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour aux entraînements
		</a>
	</p>
{% endblock %}
