{% extends "layout.html.twig" %}

{% block title %}
	Bienvenue -
	{{ parent() }}
{% endblock %}

{% block body %}

	<h2>Bienvenue</h2>

	<div class="col-md-4">
		<a href="{{ path('aviron_sortie_reservation_entrainements') }}" style="height: 200px" class="btn btn-default btn-lg btn-block" title="AviFit">
			<img src="{{ asset('img/avifit.png') }}"  style="height: 150px" class="img-responsive center-block" />
			AviFit
		</a>
	</div>

{% endblock %}
