<p>Bonjour {{ membre.prenom }},</p>

<p>
    Voici un lien pour te réinscrire à l'Aviron Club de Bourges :<br />
    <a href="https://bourges.avironclub.fr/reinscription/{{ membre.reinscriptiontoken }}">https://bourges.avironclub.fr/reinscription/{{ membre.reinscriptiontoken }}</a><br />
    Pour se connecter, il faut saisir l'adresse mail sur laquelle tu as reçu ce mail.
</p>
<p>
    A très bientôt,<br />
    Nicolas
</p>