<p>Bonjour {{ membre.prenomnom }},</p>

<p>
    Voici votre login pour accéder à votre compte adhérent de l'Aviron Club de Bourges : {{ membre.username }}<br />
    Pour l'activer il faut vous rendre sur <a href="https://bourges.avironclub.fr/">https://bourges.avironclub.fr/</a> et cliquer sur "Première connexion ou Mot de passe oublié ?".
</p>
<p>
    Une fois connecté à votre compte, vous pourrez saisir votre fiche d'inscription.
</p>
<p>
    A très bientôt,<br />
    L'équipe de l'Aviron Club de Bourges
</p>
<p>
    NB : Ceci est un mail automatique. Merci de ne pas y répondre.
</p>