<p>Bonjour {{ membre.prenom }}</p>

<p>
    Voici ton login pour accéder à ton compte adhérent de l'Aviron Club de Bourges : {{ membre.username }}.
    Pour l'activer il faut se rendre sur <a href="http://moncarnet.avironbourges.fr/">http://moncarnet.avironbourges.fr/</a> et cliquer sur "Mot de passe oublié ou première connexion".
</p>
<p>
    Une fois connecté tu pourras t'inscrire aux séances AviFit à venir.
    D'autres fonctionnalités sont en cours de développement, nous vous les présenterons une fois mises en ligne.
</p>
<p>
    A très bientôt,
    Nicolas
</p>