<p>Bonjour {{ membre.prenom }},</p>

<p>
	Nous avons bien reçu votre demande d'inscription.<br/>
	Pour la valider vous devez payer votre cotisation et nous rapporter les documents suivants :
</p>
<p>
	<b>Pour tous :</b><br/>
	1 photo d’identité récente (inscrire au verso les noms et prénoms)<br/>
	1 certificat médical ou une attestation (voir pièce jointe)<br/>
	1 bordereau IA Sport+ MAIF<br/>
</p>
<p>
	<b>Pour les mineurs :</b><br/>
	1 attestation de natation de 25 m et d’immersion<br/>
	1 fiche sanitaire de liaison<br/>
	1 autorisation parentale (déplacements)<br/>
</p>
<p>
    Ces documents sont disponibles sur notre site : <a href="https://www.aviron-bourges.org/preinscription-en-ligne/" target="_blank">https://www.aviron-bourges.org/preinscription-en-ligne/</a>
</p>
<p>
    A très bientôt,<br />
    L'équipe de l'Aviron Club de Bourges
</p>
<p>
	NB : Ceci est un mail automatique. Merci de ne pas y répondre.
</p>