{% extends "layout.html.twig" %}

{% block title %}
	Demande d'inscription envoyée -
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-sm-2">
			<h4 class="text-muted">Compte
				<span class="label label-default">1</span>
			</h4>
		</div>
		<div class="col-sm-2">
			<h4 class="text-muted">Votre identité
				<span class="label label-default">2</span>
			</h4>
		</div>
		<div class="col-sm-2">
			<h4 class="text-muted">Vos contacts
				<span class="label label-default">3</span>
			</h4>
		</div>
		<div class="col-sm-2">
			<h4 class="text-muted">Attestations
				<span class="label label-default">4</span>
			</h4>
		</div>
		<div class="col-sm-2">
			<h4 class="text-muted">Sondage
				<span class="label label-default">5</span>
			</h4>
		</div>
		<div class="col-sm-2">
			<h4 class="text-muted">Fin
				<span class="label label-primary">6</span>
			</h4>
		</div>
	</div><br/>

	<h2 class="page-header">Demande d'inscription envoyée</h2>
	<p>
		Nous avons bien reçu votre demande d'inscription.<br/>
		Pour la valider vous devez payer votre cotisation et nous rapporter les documents suivants :<br/>
		<br/>
		<b>Pour tous :</b><br/>
		1 photo d’identité récente (inscrire au verso les noms et prénoms)<br/>
		1 certificat médical ou une attestation (voir pièce jointe)<br/>
		1 bordereau IA Sport+ MAIF<br/>
		<br/>
		<b>Pour les mineurs :</b><br/>
		1 attestation de natation de 25 m et d’immersion<br/>
		1 fiche sanitaire de liaison<br/>
		1 autorisation parentale (déplacements)<br/>
		<br/>
	</p>
	<p>
		Ces documents sont disponibles sur notre site :
		<a href="https://www.aviron-bourges.org/ramer-a-bourges/" target="_blank">https://www.aviron-bourges.org/ramer-a-bourges/</a>
	</p>
	{% if reinscription == false %}
		<p>Vous pouvez :<br/>
			<br/>
			<a href="{{ path('aviron_membre_licences_preinscription') }}" class="btn btn-default">
				<i class="glyphicon glyphicon-plus"></i>
				Effectuer une nouvelle demande pour une autre personne
			</a>
		</p>
	{% endif %}
{% endblock %}
